canvas {
  z-index: 1;
}
.game__container::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  background-image: url('../images/game-bg.png');
  background-position: center;
  background-size: cover;
  z-index: 999;
}
